@import '../base/mixins';
@import '../base/breakpoints';

.game-area {
  width: 100vw;
  position: relative;
  margin-bottom: 10px;

  &:after {
    @include clearfix();
  }

  .word-list {
    // This is to get the word-list under the controls in mobile
    // a bit of a restrucure of the markup would be needed to get
    // around it, could potentially use flexbox
    position: absolute;
    top: 29em;
    li {
      display: inline-block;
    }
  }
}

.controls {
  .score, button {
    float: left;
    width: 30%;
    margin-right: 5%;

    &:last-child {
      margin-right: 0px;
    }
  }

  .score {
    padding: 10px 5px;
  }
}

@media only screen and (min-width: $mobile) {
  .game-area {
    .word-list {
      top: 30.625em;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .game-area {
    .board {
      float: left;
      width: 60%;
    }

    .word-list {
      height: 100%;
      width: 40%;
      float: left;
      position: static;

      li {
        display: block;
      }
    }
  }
}