<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WORDSPLOSION</title>
  <style href="./css/main.css" rel="stylesheet" type="text/css"></style>
</head>
<body data-ng-app="app">
  <main data-ng-controller="boardController as boardCtrl" data-ng-cloak>
    <div class="board">
      <div class="board-row" data-ng-repeat="row in boardCtrl.board">
        <div class="board-square" data-ng-repeat="letter in row track by $index"
          data-ng-click="boardCtrl.addLetter(letter)"
          data-ng-class="{activate: (boardCtrl.isActive(letter) && !boardCtrl.isChosen(letter)), chosen: boardCtrl.isChosen(letter)}">
          <p class="letter">{{letter.letter}}</p>
        </div>
      </div>
    </div>
    <ul class="word-list">
      <li data-ng-repeat="word in boardCtrl.wordList track by $index">{{word}}</li>
    </ul>
    <div class="controls">
      <p>{{boardCtrl.selectedWord}}</p>
      <p class="score">score: {{boardCtrl.score}}</p>
      <div class="buttons-errors">
        <button data-ng-click="boardCtrl.clearBoard()">Clear</button>
        <button data-ng-click="boardCtrl.submitWord()">Submit</button>
        <button data-ng-click="boardCtrl.scoreBoard()">Score</button>
        <button data-ng-click="boardCtrl.newGame()">New Game</button>
        <span ng-if="boardCtrl.alreadyPicked">Already picked that</span>
        <span ng-if="boardCtrl.notAWord">Not in our dictionary!</span>
      </div>
    </div>
  </main>
  <script src="bundle.js"></script>
</body>
</html>