
$color: rgb(120, 120, 255);
$color-two: rgb(255, 255, 100);
$color-three: rgb(50, 50, 255);
$color-bright: rgb(255, 255, 0);
$color-bland: rgb(194, 178, 128);
$color-chosen: rgb(0, 200, 200);

@mixin noselect() {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;

}

body {
  background-color: $color;
}

main {
  width: 60%;
  margin: 0 auto;
}

.activate {
  background-color: $color-bright !important;
}

.chosen {
  background-color: $color-chosen !important;
}

.board {
  float: left;
  border-spacing: 10px;
  width: 40%;

  .board-square {
    background-color:  $color-bland;
    height: 90px;
    width: 60px;
    padding-left: 7px;
    border-radius: 12px;
    margin: 7px;
    box-shadow: inset 0 0 0 3px $color-two,
                inset 0 0 0 6px $color-three;

    .letter {
      @include noselect();
      font-size: 50px;
      display: table-cell;
      font-family: Impact;
    }
  }
}

.word-list {
  float: left;
  list-style: none;
  width: 25%;
  padding: 0;

  li {
    font-size: 15px;
    font-size: 30px;
    text-shadow: 0 0 2px white;
    font-weight: bold;
    font-family: Helvetica;
    width: 50%;
  }
}

.controls {
  clear: both;
  margin: 0 auto;
  width: 40%;
  p {
    @include noselect();
    font-size: 40px;
    text-shadow: 0 0 2px white;
    font-weight: bold;
    font-family: Helvetica;
    min-height: 48px;
    margin: 0;
    text-align: center;
  }

  button {
    padding: 7px 15px;
    border-radius: 10px;
    outline: none;
    border: 1px solid blue;
  }
  span {
    font-size: 18px;
    color: red;
  }
}




