@import './colors';
@import './mixins';

html {
  box-sizing: border-box;
  background-color: $color-background;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, main {
  min-height: 100%;
}

main {
  max-width: 900px;
  margin: 0 auto;

  &:after {
    @include clearfix();
  }
}

button {
  padding: 7px 15px;
  border-radius: 10px;
  font-size: 20px;
  outline: none;
  border: 2px solid $color-medium;
  cursor: pointer;
  background-color: $transparent-background;
  transition: background-color 300ms;

  &:hover {
    background-color: $color-chosen;
    border: 2px solid $color-bright;
  }
}

[data-ng-cloak] {
  display: none !important;
}

p, h1, li, .score, .letter {
  text-shadow: 0 0 2px white;
  font-weight: bold;
  font-family: Helvetica;
}