@import '../base/mixins';
@import '../base/colors';

.controls {

  padding: 0 10px;

  .selected-word {
    @include noselect();
    font-size: 40px;
    text-align: center;

    &:after {
      // so it takes up space when empty
      content: "";
      padding: 20px 1px;
    }
  }

  span {
    font-size: 18px;
    color: $color-bright;;
    text-align: center;
  }

  .score {
    font-size: 20px;
    text-align: left;
  }

  &:after {
    @include clearfix();
  }
}
