@import '../base/mixins';
@import '../base/breakpoints';

nav {
  padding: 20px;

  button {
    width: 45%;
    margin-left: 5%;
    float: right;
    &:first-child {
      margin-left: 0;
    }
  }

  h1 {
    font-size: 40px;
    text-align: center;
  }

  &:after {
    @include clearfix();
  }
}

@media only screen and (min-width: $tablet) {
  nav {
    h1 {
      float: left;
    }
    button {
      width: 15%;
      margin-left: 20px;
    }
  }
}